body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4 {
    margin: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    list-style: none;
}
/*first-section*/
.welcom-section {
    padding-bottom: 134px;
    background: url(images/@\ Gradient.svg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column-reverse;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 40px;
    margin-bottom: 80px;
    cursor: pointer;
}

.header-logo-container {
    padding: 10px 30px;
    margin-right: 12px;
}

.header-list {
    margin-right: 40px;
    display: flex;
    padding: 0px;
    color: white;
}

.header-list-item {
    padding: 10px;
    margin-right: 20px;
}

.header-list-item .link {
   color: white;
   text-decoration: none;
}

.header-form-input {
    padding: 20px 40px;
    border-radius: 39px;
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    margin-right: 12px;
}

.header-form-button {
    padding: 20px 40px;
    background: #EFEFEF; 
    border-radius: 35px;
    border: none;
    cursor: pointer;
    color: #2091F9;
    font-size: 16px;
    line-height: 16px;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

.center-section-text {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

.center-section-title {
    padding: 10px;
    margin-bottom: 18px;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
}

.center-section-subtitle {
    padding: 10px;
    margin-bottom: 90px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.center-section-button {
    padding: 16px 58px;
    margin-bottom: 114px;
    background: #FFFFFF;
    border-radius: 35px;
    border: none;
    color: #2091F9;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    cursor: pointer;
}

.welcom-section-img-conteiner {
    margin-bottom: 134px ;
    display: flex;
    justify-content: center;
}
/*cecond-section*/
.features {
    font-style: normal;
    padding-top: 96px;
    padding-bottom: 154px;
}

.features-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-subtitle {
    padding-bottom: 17px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #252B42;
}

.features-title {
    padding-bottom: 27px;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    color: #252B42;
}

.features-text {
    padding-bottom: 138px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #374754;
}

.features-row {
    padding-left: 68px;
    display: flex;
    flex-direction: row;
}

.features-item {
    padding-left: 100px;
    padding-top: 80px;
}

.features-item-one {
    padding: 0px;
    margin: 0px;
}

.features-item-top {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.features-item-desc {
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #252B42;
}

.features-item-text {
    max-width: 255px;
    padding-bottom: 90px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #374754;
}

.features-item-two {
    padding: 0px;
    margin: 0px;
}

.features-item-bottom {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
/*third-section*/
.prototyping {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
    font-style: normal;
}

.prototyping-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prototyping-subtitle {
    padding-bottom: 17px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.prototyping-title {
    padding-bottom: 27px;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    color: #FFFFFF;
}

.prototyping-text {
    padding-bottom: 90px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.prototyping-button-left {
    padding: 18px 31px;
    background: #FFFFFF;
    border-radius: 35px;
    border: none;
    background: #FFFFFF;
    color: #2091F9;
    cursor: pointer;
}

.prototyping-button-right {
    margin-left: 16px;
    border-radius: 35px;
    border: 1px solid  #FFFFFF;
    background-color: transparent;
    padding: 16px 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
/*fourth-section*/
.subscribe-content {
    padding-top: 216px;
    padding-bottom: 109px;
    font-style: normal;
}

.subscribe-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribe-img {
    padding-left: 119px;
}

.subscribe-column {
    max-width: 544px;
    padding-left: 113px;
}

.subscribe-subtitle {
    padding-bottom: 17px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #252B42;
}

.subscribe-title {
    padding-bottom: 35px;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    color: #252B42;
}

.subscribe-text {
    padding-left: 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #252B42;
}

.subscribe-subtext {
    padding-left: 10px;
    padding-bottom: 34px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #374754;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.subscribe-input {
    padding: 19px 166px 19px 39px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #18171D;
}

.subscribe-button {
    margin-left: 12px;
    padding: 19px 38px;
    background: #2091F9;
    border-radius: 35px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
/*fifth-section*/
.partners {
    padding-top: 90px;
    padding-bottom: 80px;
    font-style: normal;
}

.partners-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 318px;
    padding-bottom: 110px;
}

.partners-title {
    padding-bottom: 27px;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    color: #252B42;
}

.partners-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #374754;
}

.partners-icon {
    padding-bottom: 100px;  
}

.partners-list {
    display: flex;
}

.partners-icon-item-one {
    padding-left: 0px;
}

.partners-icon-item {
    padding-left: 67px;
}

.partners-button {
    padding: 16px 58px;
    background: #2091F9;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    cursor: pointer;
}
/*sixth-section*/
.testimonials {
    padding-top: 111px;
    padding-bottom: 100px;
    font-style: normal;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials-title {
    padding-bottom: 90px;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    color: #252B42;
}

.testimonials-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 157px 0px 97px;

}

.testimonials-list-items { /*карточки*/
    margin-left: 60px;
    margin-bottom: 100px;
    max-width: 335px; 
    max-height: 541px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #DEDEDE;
}

.testimonials-icon {
    padding: 40px 93px;
}

.testimonials-text {
    text-align: center;
    padding: 0px 42px 42px 42px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #374754;
}

.testimonials-star {
    display: flex;
    padding-bottom: 42px;
}

.testimonials-star-img-one {
    padding-left: 0px;
}

.testimonials-star-img {
    padding-left: 5px;
}

.testimonials-list-name {
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    color: #252B42;
}
.testimonials-list-profession {
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #374754;
}

.testimonials-button {
    margin-top: -20px;
    padding: 16px 47px;
    background: #2091F9;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    cursor: pointer;
}
/*seventh-section*/
.pricing {
    padding-top: 100px;
    padding-left: 282px;
    background: #252B42;
    font-style: normal;
}

.pricing-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.pricing-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pricing-content-left-title {
    padding-bottom: 26px;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    color: #FFFFFF;
}

.pricing-content-left-text {
    max-width: 341px;
    max-height: 81px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.pricing-content-right {
    margin-left: 284px;
    padding-bottom: 100px;
    
}

.pricing-content-right-subtitle {
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.pricing-content-right-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.content-right-price-numeral {
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    color: #FFFFFF;
}
.content-right-price-text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.pricing-content-right-text {
    padding-bottom: 19px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.pricing-content-right-button {
    padding: 18px 38px;
    background: #2091F9;
    border-radius: 35px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
/*eighth-section*/
.contact {
    padding-top: 210px;
    padding-bottom: 151px;
    font-style: normal;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-tetle {
    padding-bottom: 27px;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    color: #252B42;
}

.contact-subtetle {
    max-width: 298px;
    padding-bottom: 74px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #374754;
}

.contact-icon-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 74px;
}

.icon-social-one {
    margin-left: 0px;
}

.icon-social {
    margin-left: 32px;
}

.contact-map {
    margin-bottom: 60px;
    max-width: 871px;
    max-height: 323px;
}

.contact-communication {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    color: #374754;
}

.contact-communication-geo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-communication-icon-geo {
    padding-bottom: 20px;
}

.contact-communication-text-address {
    max-width: 268px;
    padding: 0px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.contact-communication-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-communication-icon-phone {
    padding-bottom: 20px;
}

.contact-communication-text-phone{
    max-width: 107px;
    padding: 0px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.contact-communication-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-communication-icon-email {
    padding-bottom: 20px;
}

.contact-communication-text-email {
    max-width: 194px;
    padding: 0px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.contact-form-title {
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #252B42;
}

.contact-form {
    width: 768px;
    display: flex;
    flex-direction: column;
}

.contact-form-name {
    margin-bottom: 45px;
    padding: 19px 673px 19px 20px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
}

.contact-form-email {
    margin-bottom: 45px;
    padding: 19px 675px 19px 20px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
}

.contact-form-message {
    margin-bottom: 45px;
    padding: 23px 651px 154px 20px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;      
}

.contact-button {
    max-width: 145px;
    padding: 18px 54px;
    background: #2091F9;
    border-radius: 35px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}